<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWCatCopy>
			<version>1.1.2</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <!--<configure_url>extendware_ewcatcopy/adminhtml_config/index</configure_url>-->
            </extendware>
		</Extendware_EWCatCopy>
	</modules>
	<admin>
        <routers>
			<extendware_ewcatcopy>
				<use>admin</use>
				<args>
					<module>Extendware_EWCatCopy</module>
					<frontName>extendware_ewcatcopy</frontName>
				</args>
			</extendware_ewcatcopy>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWCatCopy>
					<files>
						<default>extendware/Extendware_EWCatCopy.csv</default>
					</files>
				</Extendware_EWCatCopy>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewcatcopy>
					<file>extendware/ewcatcopy.xml</file>
				</ewcatcopy>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate></translate>
		<layout></layout>
		<routers></routers>
    </frontend>
	<global>
		<models>
			<ewcatcopy>
				<class>Extendware_EWCatCopy_Model</class>
				<resourceModel>ewcatcopy_mysql4</resourceModel>
			</ewcatcopy>
			<ewcatcopy_mysql4>
                <class>Extendware_EWCatCopy_Model_Mysql4</class>
                <entities/>
            </ewcatcopy_mysql4>
		</models>
		<blocks>
			<ewcatcopy>
                <class>Extendware_EWCatCopy_Block</class>
            </ewcatcopy>
		</blocks>
		<helpers>
			<ewcatcopy>
				<class>Extendware_EWCatCopy_Helper</class>
			</ewcatcopy>
		</helpers>
		<resources>
			<ewcatcopy_setup>
				<setup>
					<module>Extendware_EWCatCopy</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewcatcopy_setup>
		</resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default></default>
	<extendware>
		<override>
			<model>
				<mage_catalog_resource_category_tree_ewcatcopy_override>
					<mode>extendware</mode>
           			<search><class>Mage_Catalog_Model_Resource_Category_Tree</class></search>
           			<replace>
           				<class>Extendware_EWCatCopy_Model_Override_Mage_Catalog_Resource_Category_Tree</class>
            			<order>0</order>
           			</replace>
           		</mage_catalog_resource_category_tree_ewcatcopy_override>
           	</model>
           	<block>
           		<mage_catalog_category_edit_form_ewcatcopy_override>
           			<mode>extendware</mode>
					<search><class>Mage_Adminhtml_Block_Catalog_Category_Edit_Form</class></search>
					<replace>
						<class>Extendware_EWCatCopy_Block_Override_Mage_Catalog_Category_Edit_Form</class>
						<order>0</order>
					</replace>
				</mage_catalog_category_edit_form_ewcatcopy_override>
           	</block>
		</override>
	</extendware>
</config>
