<?xml version="1.0"?>
<config>
    <modules>
        <Mt_Seotemplates>
            <version>0.1</version>
        </Mt_Seotemplates>
    </modules>
    <admin>
        <routers>
            <seotemplates>
                <use>admin</use>
                <args>
                    <modules after="Mage_Adminhtml">MT_Seotemplates</modules>
                </args>
            </seotemplates>
        </routers>
    </admin>
</config>
