<?xml version="1.0"?>
<config>
    <modules>
        <CreteSol_Crm>
            <version>0.1.7</version>
        </CreteSol_Crm>
    </modules>
    <frontend>
        <routers>
            <Crm>
                <use>standard</use>
                <args>
                    <module>CreteSol_Crm</module>
                    <frontName>crm</frontName>
                </args>
            </Crm>
        </routers>
        <layout>
            <updates>
                <crm>
                    <file>crm.xml</file>
                </crm>
            </updates>
        </layout>
    </frontend>   
    <global>
        <models>
            <crm>
                <class>CreteSol_Crm_Model</class>
                <resourceModel>crm_mysql4</resourceModel>
            </crm>
            <crm_mysql4>
                <class>CreteSol_Crm_Model_Mysql4</class>
                <entities>
                    <crm>
                        <table>crm</table>
                    </crm>
                    <crmorders>
                        <table>crmorders</table>
                    </crmorders>
                </entities>
            </crm_mysql4>
        </models>
        <resources>
            <crm_setup>
                <setup>
                    <module>CreteSol_Crm</module>
                    
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crm_setup>
            <crm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crm_write>
            <crm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crm_read>
        </resources>
        <blocks>
            <crm>
                <class>CreteSol_Crm_Block</class>
            </crm>
        </blocks>
        <helpers>
            <crm>
                <class>CreteSol_Crm_Helper</class>
            </crm>
        </helpers>
        <layout>
            <updates>
                <crm>
                    <file>crm.xml</file>
                </crm>
            </updates>
        </layout>
    </global>
    <admin>
        <routers>
         <!--<crm>
            <use>admin</use>
            <args>
               <modules before="Mage_Adminhtml">CreteSol_Crm_Adminhtml</modules>
            </args>
         </crm>-->
         
         <adminhtml>
                <args>
                    <modules>
                        <CreteSol_Crm before="Mage_Adminhtml">CreteSol_Crm_Adminhtml</CreteSol_Crm>
                    </modules>
                </args>
            </adminhtml>

        </routers>
    </admin>
    <adminhtml>
     <layout>
            <updates>
                <crm>
                    <file>crm.xml</file>
                </crm>
            </updates>
        </layout>
         <menu>
            <crm translate="title" module="crm">
                <title>CRM</title>
                <sort_order>71</sort_order>               
                <children>
                    <orderlist>
                        <title>Order List</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/crm/index</action>
                    </orderlist>
                   <crmdashboard>
                        <title>DashBoard</title>
                        
                        <action>adminhtml/crm/dashboard</action>
                    </crmdashboard>
                </children>
            </crm>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                    <crm translate="title" module="crm">
                        <title>CRM</title>
                        <sort_order>71</sort_order>               
                        <children>
                            <orderlist>
                                <title>Order List</title>
                            </orderlist>
                           <crmdashboard>
                                <title>DashBoard</title>
                            </crmdashboard>
                        </children>
                    </crm>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <crm>
                                            <title>CreteSol CRM</title>
                                        </crm>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <cretesol_crm>
                <schedule>
                    <cron_expr>*/3 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>crm/observer::cronscript</model>
                </run>
            </cretesol_crm>
            <cretesol_crm_remove_dup_customer_grid>
                <schedule>
                    <cron_expr>30 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>crm/observer::removeDupCustomerGrid</model>
                </run>
            </cretesol_crm_remove_dup_customer_grid>
        </jobs>
    </crontab>
</config>