<?xml version="1.0"?>
<config>
	<modules>
        <Extendware_EWCatCopy>
        	<extendware>
	        	<settings>
	        		<scopes>
		        		<main>
							<tabs>
						        <main translate="label comment ewhelp" module="ewcatcopy">
						            <label>Category Copy</label>
						            <sort_order>100</sort_order>
						        </main>
						    </tabs>
							<sections>
								<ewcatcopy translate="label comment ewhelp" module="ewcatcopy">
									<class>separator-top</class>
									<label>General</label>
									<tab>main</tab>
									<frontend_type>text</frontend_type>
									<sort_order>100</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<groups>
									</groups>
								</ewcatcopy>
							</sections>
						</main>
					</scopes>
				</settings>
			</extendware>
		</Extendware_EWCatCopy>
	</modules>
</config>
